#  _                              _ 
# | |    __ _ _ __ __ ___   _____| |
# | |   / _` | '__/ _` \ \ / / _ \ |
# | |__| (_| | | | (_| |\ V /  __/ |
# |_____\__,_|_|  \__,_| \_/ \___|_|
#                                   

/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/resources/icons
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.npmrc

#  _____                _              ____  _   _ ____  
# |  ___| __ __ _ _ __ | | _____ _ __ |  _ \| | | |  _ \ 
# | |_ | '__/ _` | '_ \| |/ / _ \ '_ \| |_) | |_| | |_) |
# |  _|| | | (_| | | | |   <  __/ | | |  __/|  _  |  __/ 
# |_|  |_|  \__,_|_| |_|_|\_\___|_| |_|_|   |_| |_|_|    
#                                                        

**/caddy
frankenphp
frankenphp-worker.php
